h1{
    font-size: 80px;
}

h2 {
    font-size: 70px;
}

button {
    border: none;
    color: white;
    font-weight: bold;
    margin: 5px 10px;
    border-radius: 5px;
    font-size: 60px;
    padding: 20px 30px;
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.05); 
}

#incrementButton{
    background-color: darkred;
}

#saveButton{
    background-color: darkgreen;
}